body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.box {
  width: 100%;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), */
    /* 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */ 
    /* box-shadow: ; */
 /* padding: 1rem 2rem; */
  /* border-radius: 5px; */
  /* background-color: rgba(255, 255, 255, var(--tw-bg-opacity)); */


   /* margin: 5rem auto; */
  /* border: 2px solid rgb(111, 112, 111); */
  /* padding-top: 1.5rem;
  padding-bottom: 1.5rem; */
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  border-color: transparent;
  border-radius: .375rem;
  position: relative;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}
.ant-menu.ant-menu-dark {
  background: #1c3faa !important;
} 
.ant-dropdown-menu-dark,
.site-layout-background {
  background: #1c3faa !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #1c3faa !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* border-top-left-radius: 35%;
  border-bottom-left-radius: 35%; */
  border-radius: 25px 0 0 25px;
  /* height: 50px; */
  background: rgba(241, 245, 248) !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected
  a {
  color: #1c3faa;
}
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .anticon {
  color: #1c3faa;
}

.myCustomLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #1c3faa !important;
}
.ant-layout-content {
  border-radius: 30px;
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 248, var(--tw-bg-opacity));
  -webkit-flex: 1 1;
  flex: 1 1;
  min-height: 100vh;
  min-width: 0;
  padding: 5px 22px 2.5rem;
  margin-bottom: 1em;
}
.generalButton {
  background: rgb(28, 63, 170);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0px;
  display: inline-block;
  font-family: Roboto;
  position: relative;
  padding: 0px 20px;
  height: 40px;
  border-radius: 2em;
  width: auto;
  line-height: 40px;
  font-size: 14px;
  min-width: 60px;
  letter-spacing: 0px;
  text-transform: none;
  transition: all 0.4s ease 0s;
}

.ant-divider-horizontal {
  margin: 14px 0 !important;
}

.box-login {
  width: 25%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 5rem auto;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  /* border: 2px solid rgb(111, 112, 111); */
}